.Card .title{
    font-size: 40px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
    mix-blend-mode: difference;
}
.Card:not(.Card:first-of-type){
    margin-top: 80px;
}
.WeatherIcon{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}