.Card .title{
    font-size: 40px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
    mix-blend-mode: difference;
}
.Card:not(.Card:first-of-type){
    margin-top: 80px;
}
.Card .today-weather.container{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "big big small add"
        "big big long long"
    ;
    gap: 10px;
}
.Card .today-weather.container .box{
    border-radius: 20px;
    backdrop-filter: blur(5px);
    
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}
.Card .today-weather.container .box.big.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 35px;
    color: white;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 3px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15));
    text-align: center;
}
.Card .today-weather.container .box.big.flex img{
    width: 50%;
    height: auto;
    transform: scale(1.5);
}

.Card .today-weather.container .box.long.list{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
    padding: 40px 50px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}
.Card .today-weather.container .box.long.list p{
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
}
.Card .today-weather.container .box.long.list p i{
    font-size: 20px;
    margin-right: 10px;
    transform: translateY(5px);
}

.Card .today-weather.container .box.small.date{
    color: white;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.175));
}
.Card .today-weather.container .box.small.date .TimeCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0 40px;
    gap: 10px;
    height: 100%;
}
.Card .today-weather.container .box.small.date .time{
    font-size: 60px;
    font-weight: 100;
    width: 100%;
    letter-spacing: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Card .today-weather.container .box.small.date .time p{
    margin: 0;
}
.Card .today-weather.container .box.small.date .date{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    letter-spacing: 1px;
    text-align: left;
}
.Card .today-weather.container .box.small.date .date p{
    margin: 2px 0;
}

.Card .today-weather.container .additions{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
}
.Card .today-weather.container .additions div p{
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    mix-blend-mode: difference;
}
.Card .today-weather.container .additions div span{
    font-size: 14px;
}
.Card .today-weather.container .additions h4{
    margin: 0;
    font-weight: 100;
    font-size: 25px;
    margin-top: 15px;
    mix-blend-mode: difference;
}.Card .today-weather.container .additions h4.red{
    color: rgb(255, 123, 0);
    mix-blend-mode: normal;
}

.WeatherIcon{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}