.CurrentWeatherCard .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'big big small add'
    'big big long long'
    ;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    font-size: 20px;
}
.CurrentWeatherCard .container .box{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}
.CurrentWeatherCard .container .box.big.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7em;
    text-transform: capitalize;
    font-weight: 100;
}
.CurrentWeatherCard .container .box.big.flex p{
    transform: translateY(-200%);
}
.CurrentWeatherCard .container .box.big.flex img{
    width: 60%;
}
.CurrentWeatherCard .container .box.small.date .TimeCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    gap: 10px;
    font-weight: 100;
    padding: 0 20px;
}
.CurrentWeatherCard .container .box.small.date .TimeCard .time p{
    font-size: 2.4em;
    margin: 0;
}
.CurrentWeatherCard .container .box.small.date .TimeCard .date p{
    margin: 5px 0;
    font-size: 1em;
}
.CurrentWeatherCard .container .box.long.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
    gap: 8px;
    font-size: 1em;
}
.CurrentWeatherCard .container .box.long.list p{
    margin: 0;
}


@media screen and (max-width: 1500px){
    .CurrentWeatherCard .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'big add'
        'big long'
        'small long'
        ;
        font-size: 18px;
    }
}
@media screen and (max-width: 1000px){
    .CurrentWeatherCard .container{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        grid-template-areas: 
        'big big'
        'long small'
        'add add'
        ;
        grid-template-rows: repeat(2, 340px);
        gap: 5px;
        font-size: 16px;
    }
    .CurrentWeatherCard .container .box.big.flex{
        flex-direction: row;
    }
    .CurrentWeatherCard .container .box.big.flex p{
        transform: translateY(0) translateX(-25%);
    }
    .CurrentWeatherCard .container .box.long.list{
        padding: 10px;
        gap: 4px;
    }
}